# Additional settings override.

[mysqld]

# The default is 0.0.0.0 which is all interfaces.
# This setting does not restrict which IPs can access the server, unless you
# specified 127.0.0.1 for localhost only.

bind-address        = 0.0.0.0

# Be aware that this log type is a performance killer.

#general_log_file   = /var/log/mysql/mysql.log
#general_log_file   = 1
